@font-face {
  font-family: "JetBrains Mono";
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('/fonts/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;    
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik.ttf') format('truetype');
  font-weight: 100 900;    
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}


html, body {
  font-size: 14pt;
  font-family: 'Rubik', sans-serif;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
}


.text-muted {
  color: rgb(var(--color-neutral-400));
  font-size: 13pt;
}

.dark .text-muted {
  color: rgb(var(--color-neutral-400));
  font-size: 13pt;
}

.text-accent {
  color: rgb(var(--color-primary-600));
}

.dark .text-accent {
  color: rgb(var(--color-primary-400));
}


td {
    vertical-align: middle !important;
}


/*about me settings */
/* force about page content full width */
.about-wide {
  max-width: 100% !important;
  width: 100% !important;
}

.customImageAboutMe {
  width: 100%;
  max-width: 120px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: auto;
}

/* dotted underline for links */
.dotted-link a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}


/*specifically for blog page */
.example-inter {
  font-family: 'Inter', sans-serif;
}

.example-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}